<mat-toolbar class="mat-elevation-z6 select-date-toolbar-row" color="accent">
  <div class="select-date-toolbar-column">
    <span>{{'global.selectPayrollMonth' | translate}}</span>
    <app-datepicker-month-year (dateChanged)="dateChanged($event)" [date]="date" [maxMonth]="maxMonthDate"></app-datepicker-month-year>
  </div>
</mat-toolbar>

<div *ngIf="errorService.isUp()">
  <app-projects-without-leads-card></app-projects-without-leads-card>
  <app-project-overview-card></app-project-overview-card>
  <app-employee-card></app-employee-card>
</div>

<div *ngIf="errorService.isDown()">
  <app-enterprise-card></app-enterprise-card>
  <app-third-party-service-error [extraClasses]="'mat-elevation-z6 mt-10 full-width bigger-font'"></app-third-party-service-error>
</div>
