@import 'styles/colors';

.mat-card {
  width: 100%;
  border-radius: 0;

  .mat-card-header {
    background-color: #f0f0f0;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.no-warnings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-container {
  display: flex;
  flex-direction: column;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding-right: 16px;
}

.summary-value {
  display: flex;
  align-items: center;
}

.summary-value {
  display: flex;
  align-items: center;
  padding-right: 16px;
}


.mat-column-icon {
  flex: 0 0 5%;
  justify-content: right;
}

.mat-column-value {
  flex: 0 0 10%;
  justify-content: flex-start;
}

.credit-card-warning {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
}
